
/*通用配置*/
*{
	padding: 0px;
	margin: 0px;
	position: relative;
}
body, html{
	width: 100%;
	height: 100%;
	font:bold 24px 微软雅黑;
	position: relative;
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
	font:bold 24px 微软雅黑;
}
select {
  /*Chrome和Firefox里面的边框是不一样的，所以复写了一下*/
  border: solid 1px #000;

  /*很关键：将默认的select选择框样式清除*/
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;

  /*在选择框的最右侧中间显示小箭头图片*/
  background: url("http://ourjs.github.io/static/2015/arrow.png") no-repeat scroll right center transparent;


  /*为下拉小箭头留出一点位置，避免被文字覆盖*/
  padding-right: 14px;
}


/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }
/*/通用配置*/
/*头部*/
.navbar-fixed-top{
	background-color: rgb(246,244,245);
	height: 80px;
}
.navbar-fixed-top .navbar{
	    position: absolute;
    	width: 10%;
    	height: 80px;
    	background-color: rgb(246,244,245);
    	font-size: 21px;
    	padding-left:10px ;
}
.top{
	height: 80px;
    width: 90%;
    padding-right: 80px;
    margin-left: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 30px;
}
/*/头部*/

/*地点显示*/
.list2{
margin-top:15px;
background-color: #f6f4f5;
height: 60px;
font-size: 18px;
}
.list2 span{
line-height: 40px;
color: #d06b1b;
}
.list2 span:nth-child(1){
color: #000000;
}
.list3{
background-color: #f6f4f5;
height: ;
text-align: center;
}
.list3 img{
width: 115px;
margin: 20px auto;
}
.list3 .row .col-sm-4 p{
	color: #a8a4a3;
	font-size: 20px;
}
.list3 .row .col-sm-4 h2{
	font-size: 24px;
}
.rollingtext {
	font-size: 44px;
    color: #000000;
    padding-left: 22px;
    
}
.rolling h2{
	font-size: 35px;
    color: a28b79;
    padding-left: 22px;
}
/*结尾*/
.navbar-fixed-bottom{
	background-color: rgb(246,244,245);
	height: 80px;
}
.footertext{
	margin: 30px auto;
    text-align: center;
    background-color: #f6f4f5;
    width: 320px;
    font-size: 22px;
    height: 68px;
    line-height: 68px;
    border-radius: 10px;
    border: 2px solid #908f8a;
}
